/* fix responsive */
@media screen and (min-width: 505px) {
  #img-re {
    width: 40% !important;
    margin-top: -70px !important;
  }
}
@media screen and (min-width: 992px) {
  .form{
    width: 50%;
    margin: auto;
  }
}

/*************************************/
:root {
  --c-err: #f62525;
  --c-muted-orange: #c78a2a;

  --c-dark: #040911;
  --c-medium-gray: rgba(0, 0, 0, 0.6);
  --c-light-gray: #e5e5e5;
}

.sign > a {
  color: var(--c-dark) !important;
}
body {
  background-color: var(--c-light-gray);
  font-family: "Kitab";
}
.main-text {
  color: var(--c-muted-orange) !important;
}
.main-bg {
  background-color: var(--c-muted-orange) !important;
}

.fo-ibm {
  font-family: "IBM Plex Sans Arabic", sans-serif !important;
}

@font-face {
  font-family: "Kitab";
  src: url("//cdn.alquran.cloud/public/fonts/Kitab-Regular.ttf");
}

.font-kitab {
  font-family: "Kitab";
}

@font-face {
  font-family: "Kitab Bold";
  src: url("//cdn.alquran.cloud/public/fonts/Kitab-Bold.ttf");
}

.font-kitab-bold {
  font-family: "Kitab Bold";
}

#img-re {
  margin-top: -50px;
}

.logoutBtn:hover {
  cursor: pointer !important;
}
